:root {
    color-scheme: dark light;
}
h1 {
    text-align: center;
    padding: 5%;
    font-size: 4em;
    background-color: #3333aa;
}
h2 {
    text-align: center;
}
div {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.grid-container {
	display: grid;
}
.icon {
    text-align: center;
    width: 8rem;
    height: auto;
}
.icon img{
    width: 8rem;
    height: auto;
}
.tab {
    text-align: center;
}
.tab button{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0px 5px #555555;
}
.tab button:hover{
    text-shadow: 0px 5px #555555;
    box-shadow: 0px 0px #555555;
    cursor: grab;
}
.tab button.active{
    background-color: #3333aa;
}
.tabcontent {
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
